<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Teste</title>
</head>
<body>
    <h1>Hello</h1>
    <h1>New Author</h1>
    <form action="/create_author" method="POST">
        <label for="name">First Name:</label>
        <input type="text" name="name">
        <input type="submit" value="Add User">
    </form> 

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            {%for one_author in authors %}
                <tr>
                    <td>{{one_author.id}}</td>
                    <td>{{one_author.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/go_to_add_book">Add Book</a>
</body>
</html>